# plantilla de secretos de dlt (este si se sube a github como ejemplo)
# para usarlo hay que copiarlo como secrets.toml y ponerle las credenciales

# script 1: para bajar los taxis de internet y guardarlos en el minion
[parquet_to_minio.destination.filesystem]
bucket_url = "s3://taxis"

[parquet_to_minio.destination.filesystem.credentials]
aws_access_key_id = "admin"
aws_secret_access_key = "password"
endpoint_url = "http://minio:9000"

# script 3: para mandar los datos del minion local a la nube de azure del profe
[s3_to_adls.destination.filesystem]
bucket_url = "abfss://clase-4-dlt@fhbd.dfs.core.windows.net/GRUPO_X" # cambiar GRUPO_X por el grupo asignado

[s3_to_adls.destination.filesystem.credentials]
azure_storage_account_name = "fhbd"
azure_storage_account_key = "TU_AZURE_STORAGE_ACCOUNT_KEY_AQUI"

[s3_to_adls.sources.filesystem]
bucket_url = "s3://warehouse/demo.db/taxis_iceberg/data"

[s3_to_adls.sources.filesystem.credentials]
aws_access_key_id = "admin"
aws_secret_access_key = "password"
endpoint_url = "http://minio:9000"

# script 4: para meter las tablas de iceberg a clickhaus
[destination.clickhouse.credentials]
host = "clickhouse"
port = 9000
http_port = 8123
username = "default"
password = "default"
database = "default"
secure = 0


